@import "tailwindcss";
@plugin "daisyui";

.glass-card {
  background: rgba(255, 255, 255, 0.7); /* bg-white/70 */
  backdrop-filter: blur(16px);          /* backdrop-blur-lg */
  -webkit-backdrop-filter: blur(16px);  /* for Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* border-white/30 */
  border-radius: 2rem;                  /* rounded-4xl (32px) */
  padding: 1.5rem;                      /* p-6 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow-lg */
}


.leaflet-control-zoom {
  display: flex;
  flex-direction: column;
  border-radius: 9999px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.leaflet-control-zoom a {
  background-color: #3b82f6 !important;
  color: white !important;
  font-weight: bold;
  font-size: 1.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;  
  height: 2.5rem;  
  transition: background 0.3s;
}

.leaflet-control-zoom a:hover {
  background-color: #2563eb !important; 
}
